@font-face {
  font-family: "Capture it";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Capture it"),
       url("./Capture\ it.woff2") 
       format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
       local("Roboto-Regular"),
       url("./Roboto-Regular.woff2") 
       format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"),
       local("Roboto-Medium"),
       url("./Roboto-Medium.woff2") 
       format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"),
       local("Roboto-Bold"),
       url("./Roboto-Bold.woff2") 
       format("woff2");
}